window,dialog,menu,menubar
{
    background-color: #313131;
}
label
{
    color:white;
}
box
{
    color:white;
}
#image_canvas
{
    background-color: #626262;
}
expander
{
    background-color : #454545;
    border-radius: 5px;
}