window,dialog,menu,menubar
{
    background-color: #313131;
}
window:not(#open_file_chooser) label
{
    color:white;
}
window:not(#open_file_chooser) box
{
    color:white;
}
#image_canvas
{
    background-color: #626262;
}
window:not(#open_file_chooser) expander
{
    background-color : #454545;
    border-radius: 5px;
}