# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# Folder
tmp/
samples/

# Image
*.jpg
*.png
*.dng
*.DNG
*.tiff
*.tiff
*.CR2
*.NEF
*.RAF
