# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# IDE
.DS_Store
.vscode/

# Folder
tmp/
samples/

# Image
src/tools/*.jpg
src/tools/*.png
src/tools/*.dng
src/tools/*.DNG
src/tools/*.bmp
src/tools/*.ppm
src/tools/*.tif
src/tools/*.tiff
src/tools/*.CR2
src/tools/*.NEF
src/tools/*.RAF
src/tools/*.fff

# GUI
*.glade~

# ImagIn
.xmp
.tmp
