# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

#VSCode
.DS_Store
.vscode/

# Folder
tmp/
samples/

# Image
src/*.jpg
src/*.png
src/*.dng
src/*.DNG
src/*.bmp
src/*.ppm
src/*.tif
src/*.tiff
src/*.CR2
src/*.NEF
src/*.RAF

#trash files
*.glade~

# EXIF
.txt
.XMP
